@model List<Juego>

@{
    List<RatingDetallado> ratings = ViewData["TOPRAT"] as List<RatingDetallado>;
    List<Juego> top10 = ViewData["TOP10"] as List<Juego>;
}
<head>
    <link rel="stylesheet" href="@Url.Content("~/css/index.css")" />
</head>

<style>
    .carousel {
        position: relative;
        box-shadow: none;
        border: none;
        height: 200px;
        color: transparent;
        background-color: transparent;
        margin: 0;
        padding: 0;
    }

    .gradient-overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(transparent, rgba(32, 31, 49, 1)), radial-gradient(circle, transparent, rgba(32, 31, 49, 1));
        z-index: 1; 
    }

    .carousel-item h1 {
        position: absolute;
        bottom: 0;
        left: 80%;
        transform: translate(-50%, -50%); 
        z-index: 2; 
        color: white;
        text-align: center;
    }
    .imgran:hover {
        transform: scale(1.10);
        transition: transform 0.3s ease;
    }
    .nomjug{
        color:#121123;
    }
    .nomjug:hover {
        color: #ffffff;
    }

</style>


<div id="carouselExampleSlidesOnly" class="carousel slide" style="height:300px" data-bs-ride="carousel">
    <div class="carousel-inner">
        @for (int i = 0; i < top10.Count; i++)
        {
            <div class="carousel-item @(i == 0 ? "active" : "")">
                <img src="@top10[i].ImagenHorizontal" class="d-block w-100" alt="Slide @i">
                <div class="gradient-overlay"></div>
                <h1># @(i + 1) @top10[i].Nombre</h1>
            </div>
        }
    </div>
</div>




<div class="container-fluid">
    <div class="col-9 mx-auto rounded-container">
        <div class="row justify-content-center">
            @for (int i = 0; i <= 8 && i < Model.Count(); i++)
            {
                var item = Model[i];
                <div class="col-md-4 col-sm-6 mb-4">
                    <div class="img-container h-100 shadow">
                        <a asp-action="Details" asp-controller="Juegos" asp-route-id="@item.IdJuego">
                            <img src="@item.ImagenBanner" class="card-img-top img-fluid rounded" alt="@item.Nombre">
                        </a>
                    </div>
                </div>
            }
        </div>
        <div class="row">
            <div class="col-12 text-end">
                <a asp-action="ListaJuegos" asp-controller="Juegos" class="text-white" style="font-size: 18px;">Show More</a>
            </div>
        </div>
    </div>
</div>

<div style="background-color: #121123; color: white">
    <div class="row">
        <div class="col-md-2 d-none d-md-none d-lg-block" style="padding: 0px;">
            <!-- Imagen a la izquierda solo en pantallas medianas y más grandes -->
            <img src="https://i.pinimg.com/originals/7f/41/81/7f4181df32d32a18ab81cbb72d6de52f.png"
                 class="img-fluid" alt="Imagen" style="margin-left: 10px; margin-right: 0; min-height:100%" />
        </div>
        <div class="col-md-10 p-4">
            <!-- Contenido de Top Comments y Tarjetas -->
            <h2 style="text-align: start; color:#ffbade">Top Comments</h2>
            <div class="row">
                @if (ratings.Count() == 0)
                {
                    <h3 class="text-white">Aun no hay comentarios :(</h3>
                }
                @foreach (var rating in ratings)
                {
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="mt-2 h-100">
                            <div class="card rounded-lg shadow-sm text-light w-100 h-100" style="background-color: #31304c; border: none;">
                                <div class="card-body d-flex flex-column justify-content-between">
                                    <div>
                                        <div class="row">
                                            <div class="col-sm-5 col-md-4 d-flex align-items-center">
                                                <a class="text-decoration-none" asp-action="PanelUser" asp-controller="Users" asp-route-idUser="@rating.IdUsuario">
                                                    <img class="img-fluid rounded-circle col-6 col-md-10 mx-auto d-block"
                                                         src="@("https://storageaccountcozygames.blob.core.windows.net/fotos/" + rating.FotoUser)" />
                                                </a>
                                            </div>
                                            <div class="col-sm-7 col-md-8 mt-sm-0 mt-3 d-flex flex-column align-items-center align-items-sm-start justify-content-sm-center">
                                                <span class="fs-5 fw-bold">@rating.NombreUser</span>
                                                <span class="fs-5">@rating.Nota</span>
                                            </div>
                                        </div>

                                        <a asp-action="Details" asp-controller="Juegos" asp-route-id="@rating.IdJuego" class="card-title fw-bold mt-4 mb-1 text-decoration-none text-center">
                                            <h4 class="nomjug">@rating.NombreJuego</h4>
                                        </a>
                                        <hr style="border-top: 1px solid white;">

                                        <h5 class="card-title fw-bold mb-1">
                                            @rating.Titulo
                                        </h5>
                                        <small style="opacity: 60%">14/03/2024</small>
                                        <p class="card-text mt-2">
                                            @rating.Comentario
                                        </p>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="d-flex justify-content-end">
                                            <svg style="width: 25px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                                                <path d="m9.653 16.915-.005-.003-.019-.01a20.759 20.759 0 0 1-1.162-.682 22.045 22.045 0 0 1-2.582-1.9C4.045 12.733 2 10.352 2 7.5a4.5 4.5 0 0 1 8-2.828A4.5 4.5 0 0 1 18 7.5c0 2.852-2.044 5.233-3.885 6.82a22.049 22.049 0 0 1-3.744 2.582l-.019.01-.005.003h-.002a.739.739 0 0 1-.69.001l-.002-.001Z" />
                                            </svg>
                                            <span class="fw-bold ms-1">@rating.LikesTotales</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>





<div class="container mt-2">
    <div class="row justify-content-center">
        <h2 class="mb-4" style="color:#ffbade;margin-top:20px">Top Games</h2>

        <div class="col-12 col-lg-5 mx-auto rounded-container">

            <div class="row p-3 top-game">
                <div class="text-center col-12">
                    <a asp-action="Details" asp-controller="Juegos" asp-route-id="@top10[0].IdJuego" class="text-dark">
                        <div class="co d-flex flex-column align-items-center">
                            <h2 class="shining-text" style="color:white"># 1 @top10[0].Nombre</h2>
                        </div>
                    </a>
                </div>
                <div class="col-md-12 col-lg-12 d-flex justify-content-center align-items-center">
                    <a asp-action="Details" asp-controller="Juegos" asp-route-id="@top10[0].IdJuego">
                        <img src="@top10[0].ImagenVertical" alt="@top10[0].Nombre" class="img-fluid imgran"
                             style="max-height: 400px;">
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-5 mx-auto rounded-container mb-4">
            <div class="list-group list-group-flush">
                @for (int i = 1; i < top10.Count; i++)
                {
                    var notaEntera = (double)Math.Round(top10[i].NotaMedia, 2);
                    <div class="row p-3 border-bottom">
                        <div class="col-2 d-flex flex-column align-items-center justify-content-center">
                            <h2 class="text-white"># @(i + 1)</h2>
                        </div>
                        <div class="col-md-12 col-lg-5 d-flex align-items-center">
                            <a asp-action="Details" asp-controller="Juegos" asp-route-id="@top10[i].IdJuego">
                                <img src="@top10[i].ImagenBanner" alt="@top10[i].Nombre" class="img-fluid imgran">
                            </a>
                        </div>
                        <div class="col-md-12 col-lg-5 col-sm-12 d-flex flex-column align-items-center justify-content-center">
                            <a asp-action="Details" asp-controller="Juegos" asp-route-id="@top10[i].IdJuego" class="text-dark text-center">
                                <h4 class="text-white">@top10[i].Nombre</h4>
                                <p class="text-white" style="font-size: 1.2rem;">Avg: @notaEntera</p>
                            </a>
                        </div>
                    </div>
                }
            </div>

        </div>
    </div>
</div>



